<header class="row center-xs">
  <div class="col-xs">
    <div class="Header">
      <div class='row center-xs'>
        <div class='col-xs-12'>
          <img class="Header__Logo" src='/css/images/claylogo-graphic.png' />
        </div>
        <div class="col-xs-12">
          <h1>Simply Diffrient</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<nav>
  <ul>
    <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
  </ul>
</nav>