<header class="row center-xs">
  <div class="col-xs">
    <div class="Header">
      <h1>Simply Diffrient</h1>
    </div>
  </div>
</header>
<nav>
  <ul>
    <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
  </ul>
</nav>