nav-height = 150px

.Header
  background rgb(57, 120, 55)
  height 75px
  padding-top: 40px
  color: #fff

.Header__Logo
  width 7%
  margin-top -33px



#header
  height nav-height
  nav
    margin-top 10px
    background #fff
    font 1.5em font-title
    line-height nav-height - 75px
    ul
      list-style none
      text-align center
      li
        margin 0 50px
        display inline-block

      a
        color rgb(57, 120, 55)
        opacity 0.7
        transition 0.3s
        &:hover
          opacity 1